// Specific CSS for your home-page
.main {
  font-family: Inter, sans-serif;
  font-style: normal;
}
.top {
  background: $greensea;
  height: 21vh;
}
.textbanner > h3 {
  color: #FFFFFF;
  mix-blend-mode: normal;
  // position: absolute;
  // top: 64px;
  // left: 21px;
}
.textbanner h1 {
  color: $mintgreen;
  // position: absolute;
  // top: 20px;
  // left: 21px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 32px;
}
.toptitle {
  font-family: Inter, sans-serif;
  // position: absolute;
  // left: 21px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 20px;
}
// .button {
//   position: absolute;
//   left: 38px;
//   width: 200px;
//   border-radius: 6px;
//   top: 50px;
// }
.midtitle {
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  color: $greyblack;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 20px;
}
.form-control{
  background-color: $mintgreen;
  border-radius: 128px;
}
.search-form-control{
  // position: absolute;
  width: 323px;
  // left: 21px;
  // top: 103px;
}
.searchbtn {
  position: absolute;
  left: 303px;
  /* top: 130px; */
  border-radius: 128px;
  height: 30px;
  width: 30px;
}











Envoyer un message Loys Linyekula








