// Specific CSS for your home-page
.main {
  font-family: Inter, sans-serif;
  font-style: normal;
}
.top {
  // background: $greensea;
  // background-image: image-url("header.svg");
  height: 2vh;
  // position: relative;
  // left: 117px;
  // width: 274px;
  bottom: 170px;
  position: relative;
}

.header {
  background-image: image-url("header.svg");
  height: 21vh;
  position: relative;
  left: 118px;
  width: 274px;
}
.textbanner > h3 {
  color: $mintgreen;
  mix-blend-mode: normal;
  // position: absolute;
  // top: 64px;
  // left: 21px;
}
.textbanner h1 {
  color: #98d0a6;
  // position: absolute;
  // top: 20px;
  // left: 21px;
  text-shadow: 0px 4px 4px rgba(178, 178, 178, 0.25);
  font-weight: 700;
  font-size: 32px;
}
.toptitle {
  font-family: Inter, sans-serif;
  // position: absolute;
  // left: 21px;
  font-weight: 700;
  font-size: 20px;
}
// .button {
//   position: absolute;
//   left: 38px;
//   width: 200px;
//   border-radius: 6px;
//   top: 50px;
// }
.midtitle {
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  color: $greyblack;
  font-weight: 700;
  font-size: 20px;
}
.search-form-control{
  background-color: rgb(206, 224, 206) ;
  border-radius: 128px;
  border-radius: 2px;
  width: 325px;
}

.searchbtn {
  position: absolute;
  left: 318px;
  /* top: 130px; */
  border-radius: -26px;
  height: 30px;
  width: 30px;
}

.form-control {
  background-color: rgb(206, 224, 206) ;
}

.container > h3{
  padding-left: 22px;;
}
