// Specific CSS for your home-page
.main {
  font-family: Inter, sans-serif;
  font-style: normal;
}

.top {
  background: #32502E;
  height: 160px;
}

.top > h3 {
  color: #FFFFFF;
  mix-blend-mode: normal;
  position: relative;
  top: 23px;
  left: 38px;
}

.top h1 {
  color: #ECE7B4;
  position: relative;
  top: 20px;
  left: 38px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 32px;
}

.toptitle {
  font-family: Inter, sans-serif;
  position: relative;
  left: 38px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  mix-blend-mode: normal;
  font-weight: 700;
  font-size: 20px;
}

.form-control {
  position: relative;
  left: 38px;
  background-color: white;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 62%;
}

.btn {
  position: relative;
  left: 38px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

p {
  color: #F3EFCC;
}

.midtitle {
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  color: #483838;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  mix-blend-mode: normal;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  left: 38px;
}
