// Specific CSS for your home-page
.main {
  font-family: Inter, sans-serif;
  font-style: normal;
}

.top {
  background: $kaki;
  height: 190px;
}

.top > h3 {
  color: #FFFFFF;

}

.top h1 {
  color: #ECE7B4;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 32px;
}

.toptitle {
  font-family: Inter, sans-serif;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 20px;
}

.button {
  width: 200px;
  border-radius: 6px;
}


.midtitle {
  padding-bottom: 10px;
  font-family: Inter, sans-serif;
  color: #483838;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 20px;
}


.titlee {
  padding: 30px 0px 0px 30px;
}
