<div class="navvvv navv-lewagon">
      <ul class="navvv">
        <li class="item">
          <%= link_to root_path, class: "navlink" do %>
            <i class="fa-solid fa-house"></i>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="item">
            <%= link_to categories_path, class: "navlink" do %>
              <i class="fa-solid fa-comment-dots"></i>
            <% end %>
          </li>
          <li class="item">
            <%= link_to garden_path(current_user), class: "navlink" do %>
              <i class="fa-solid fa-user"></i>
            <% end %>
          </li>

        <% else %>
          <li class="item">
            <%= link_to new_user_session_path, class: "navlink" do %>
              <i class="fa-solid fa-user"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
  </div>

</div>
