<div class="logpage">
  <div class="logtitle d-flex flex-column align-items-center">
    <h1>Beennie</h1>
    <h3 class="toptitle mt-3">Bring Nature Into Your Home</h3>
  </div>

  <div class="logbutton d-flex flex-column align-items-center">
    <a class="btn btn-flat" href="/users/sign_in">Login</a>
    <a class="btn btn-flat mt-4" href="/users/sign_up">sign up</a>

  </div>
</div>
