.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 2%;
  background-color: $white;
  height: 260px;
  width: 325px;
}

.card-trip > img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
  margin-bottom: 6px;
}

.card-trip h2 {
  font-size: 18px !important;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


.card-trip .card-trip-infos {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos {
  color: $white;
  overflow: hidden;

}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  margin-bottom: 10px;
  grid-auto-rows: 1fr;

}

.card-trip-infos h2 {
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: smaller;
}

a {
  text-decoration: none;
}

.searchtitle {
  font-family: Inter, sans-serif;
  color: $greyblack;
  font-weight: 700;
  font-size: 20px;
  padding-left: 32px;
}

ul {
  text-align: center;
}


.card-trip h3 {
  padding-left: 16px !important;
  color: black;
  font-size: 12px;
  padding-top: 3px;
  padding-left: 12px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

.searchbtn2 {
  position: absolute;
  left: 315px;
  /* top: 130px; */
  border-radius: 128px;
  height: 30px;
  width: 30px;
}

.cards > a {
  display: flex;
  justify-content: center;
}
