// .category {
//   margin-top: 9px;
//   height: 70%;
//   // width: 90%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   flex-grow: 1;
//   padding: 0;

//   .messages {
//     height: 100%;
//     overflow: scroll;
//     paddingd: 1rem;
//     background-color: white;
//   }

//   #new_message {
//     border-top: 1px solid $gray-200;
//     padding: 1rem;

//     .form-group {
//       margin-bottom: 0;
//     }
//   }
// }
// .categorynamemessage h1{
//   font-family: Inter, sans-serif;
//   color: $white;
//   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   font-weight: 700;
//   font-size: 20px;

// }


#new_message {
  background-color: #E9E9E9;
  border: solid 1px lightgray;
  border-radius: 18px;
  position: fixed;
  bottom: 0;
  width: 94vw;
  left: 0;
  margin: 0 3vw 3vw 3vw;
}

#new_message #message_content {
  background-color: transparent;
  border: none;
}

#new_message .mb-3.message_content {
  margin: 0 !important;
}

#new_message .mb-3.file.optional.message_photo {
  font-size: 26px;
  padding: 0;
  margin: 0 !important;
}

#new_message button {
  background: transparent;
  border: none;
  color: #007665;
  padding-left: 18px;
  padding-right: 10px
}

.messages {
  max-height: calc(100vh - 105px);
  overflow: scroll;
  padding-top: 105px;
}

.chatheader {
  position: fixed;
  background: white;
  width: 100%;
}

.categoryname h1{
  font-family: Inter, sans-serif;
  color: $greyblack;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 20px;

}

.link {
  font-family: Inter, sans-serif;
  color: $white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 20px;

}

.card-category {
  align-items: center;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: $white;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  height: 100px;
  justify-content: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-category h1 {
  color: white;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.message {
  margin-bottom: 8px;
  .message-infos {
    display: flex;
      align-items: center;
      margin: 0 4px;
      font-size: 0.75rem;
      color: rgb(200, 200, 200);

      p{
        margin: 0;
      }
    }

    .message-avatar {
      height: 35px;
      width: 35px;
      object-fit: cover;
      object-position: center;
      border: 1px rgb(200, 200, 200) solid;
      border-radius: 50%;
      margin: 0 4px;
    }

    .message-content {
      display: flex;
      .message-wrapper {
        background-color: #E9E9E9;
        border: 1px rgb(200, 200, 200) solid;
        border-radius: 10px 10px 10px 0px;
        color: 383737;
        margin: 0;
        padding: 8px 16px;
        width: 80%;
        & img {
          width: 100%;
        object-fit: cover;
        margin: 10px 0;
        border-radius: 5px;
      }
    }
  }
}
// This is what displays the message on the right
.message.sender {
  .message-infos {
    display: flex;
    flex-direction: row-reverse;
  }
  .message-content {
    flex-direction: row-reverse;
    .message-wrapper {
      background-color: #D0ECE8;
      color: #007665;
      width: 80%;
      margin: 0;
      border: 1px rgb(200, 200, 200) solid;
      padding: 8px 16px;
      border-radius: 10px 10px 0px 10px;
      & img {
        width: 100%;
        object-fit: cover;
        margin: 10px 0;
        border-radius: 5px;
      }
    }
  }
}
