.profilepic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 65px;
  object-fit: cover;
}

.banner {
  position: relative;
  height: 21vh;
  background-image: url(https://media.istockphoto.com/photos/tropical-leaves-abstract-green-leaves-texture-nature-background-picture-id1254474165?b=1&k=20&m=1254474165&s=170667a&w=0&h=4yiAJ1tXxs3zoEL6S1bPpKSxpbF3XIiTb-bGMedoDtk=) ;
}


.fname h1 {
  font-weight: bold;
  color: black;
}

.weather{
  font-size: small;
  margin-top: -10px;
  margin-bottom: 10px;
  //position: absolute;
  top: 185px;
  margin-left: 80px;
}
.card-profile {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5%;
  background-color: $greensea;
  height: 100%;
}

.card-profile img {
  height: 150px;
  width: 97%;
  object-fit: cover;
  display: block;
  margin: auto;
  padding: 10px;
}

.card-profile h2 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  color: $white;
}

.card-profile p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-profile .card-profile-infos {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-profile-infos {
  color: $white;
  overflow: hidden;

}

.profilecards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 10px;
  grid-auto-rows: 1fr

}

.card-profile-infos h2 {
  margin-top: 5px;
  margin-bottom: 8px;
  font-size: smaller;
}

.adding a {
  color: $white;
}

.nav-link {
  color: $greyblack;

}


.nav-tabs .nav-link.active {
  background-color: $greensea;
  color: $white;
  border-color: $greensea;
}
.nav-tabs .nav-link {
  border-width: 1px;
  border-color: $greensea;
  border: solid;
}


.nav-tabs {
  border-width: 0px;
}

.justify-content-center {
  margin-bottom: 10px;
}
// #home-tab {
//   background-color: $mintgreen;
// }

// #profile-tab {

// }
