
.navvvv a {
 color: white;
}

.navvvv {
  background-color: #265852;
  position: fixed;
  height: 56px;
  width: 100vw;
  bottom: 0;
}
// rgb(81, 57, 57);
.item {
  display: inline;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 23px;

}

.navvv {
  margin: 0;
  padding: 10px;

}

body {
  padding-bottom: 60px;
}
