.image-show-plant {
  height: 260px;
  width: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
  border-bottom: white solid 1px;
}

.containertext {
padding: 15px;
color: $greyblack;
min-height: 420px;
}


.show-h2 p {
 font-size: 16px;
 font-family: 'Poppins', sans-serif;
 font-weight: 400;
 padding-bottom: 6px;

}

.show-h2 h1 {
  font-size: 24px;
  padding-bottom: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;

}

.show-h2 h3 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.descrip p {
  color:$greyblack;
  margin-bottom: 0px !important;
}

.formulaire {
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;


}

.btn-dark {
  background-color: $greensea;
  font-size: smaller;
}

.containershow {
  overflow: scroll;
  min-height: calc(100vh - 60px);

}

.show-h2 .categ {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 10px;

}

.btn-wishlist {
  width: 60%;
  font-size: 18px;
}


hr {
 opacity: 0.6;}
