<div class="header2"></div>
  <div class="top d-flex flex-column align-items-center">
    <div class="textbanner">
      <br>
      <br>
      <h1>Beenie</h1>
      <%# <h3 class="toptitle">Bring Nature Into Your Home</h3> %>
    </div>
  </div>

<div class="categoryname d-flex ms-4 align-items-center">
  <h1>Chat</h1>
</div>

<div class="container">
  <% @categories.each do |category| %>
    <% if current_user.favorites_categories.include?(category) %>
    <div class="card-category me-3 ms-3 mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path category.picture.key %>');">
      <%= link_to category_path(category) do %>
        <h1><%= category.name %></h1>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
